# Ignorer tout dans SAE_Dev/ (le venv)
Code/SAE_venv
.venv

# Ne pas ignorer le fichier requirements.txt
!Code/SAE_venv/requirements.txt
# Ignorer les fichiers .log
*.log
.DS_Store

# Ignorer les fichiers de django admin
Code/src/Energy
Code/src/manage.py

TBR_GRM_JSA_SAE6_DevDecisionnel/.idea
.idea/dataSources.local.xml
.idea
/Users/jadsamain/Developer/TBR_GRM_JSA_SAE6_DevDecisionnel/.idea
.idea/vcs.xml
.idea/dataSources.xml

Code/src/Front/__pycache__
Code/src/Back/Scripts/__pycache__
