# Ignorer tout dans SAE_Dev/ (le venv)
Code/SAE_venv
.venv

# Ne pas ignorer le fichier requirements.txt
!Code/SAE_venv/requirements.txt

# Ignorer les fichiers .log
*.log
.DS_Store

# Ignorer les fichiers de django admin
Code/src/Energy
Code/src/manage.py

# Ignorer les fichiers de configuration de l'IDE
.idea/
.idea/dataSources.local.xml
.idea/vcs.xml
.idea/dataSources.xml

# Ignorer tous les dossiers __pycache__ et fichiers .pyc
__pycache__/
*.py[cod]
*$py.class

# Ignorer la base de données SQLite
Code/src/Back/db/iris.db

# Ignorer le répertoire de données traitées
Data/Data_traitee
Code/src/Back/db/users.sqlite
